{% load crispy_forms_tags %}
<div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="staticBackdropLabel">Nuevo Curso</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal"
                   aria-label="Close"></button>
       </div>
       <div class="modal-body">
           <form action="crearEditarCurso" method="post">{% csrf_token %}
            {% if cursos %}
                                    {% for item in cursos %}
                                    <div class="col-md-6" hidden id="divCursos">
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                <label for="id"
                                                       class="form-label">id</label>
                                                <input type="text" value={{ item.id }}  class="form-control" name="id"
                                                       id="idCurso">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fullName1" class="form-label">Nombre Completo del Curso</label>
                                            <input type="text" value={{item.fullname}}  class="form-control"
                                                   id="nombreCurso" name="fullName1">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="nameShort"
                                                   class="form-label">Nombre Corto</label>
                                            <input type="text" value={{item.shortname}} class="form-control"
                                                   id="nombreCorto" name="nameShort">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="categoria" class="form-label">Categoria</label>
                                            <select class="form-select" name="categoria" select={{ item.categoryid }} id="comboCategorias">
                                            </select>
                                        </div>
                                        <div class="col-md-9">
                                            <label for="resumen"
                                                   class="form-label">Resumen del curso</label>
                                            <input type="text" class="form-control" name="resumen" id="resumen">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-check-label" for="calificaciones">
                                                Mostrar Calificaciones
                                            </label>
                                            <input class="form-check-input" type="checkbox" id="calificaciones"
                                                   name="calificaciones">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fechaInicio">Fecha inicio del curso</label>
                                            <div class="input-group" id="datepicker3">
                                                <input type="text" class="form-control" placeholder="dd M, yyyy" for="fechaInicio"
                                                       data-date-container='#datepicker3'
                                                       data-provide="datepicker"
                                                       data-date-autoclose="true"
                                                       name="fechaInicio"
                                                       id="fechaInicio">
                                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                            </div><!-- input-group -->
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fechaFin">Fecha fin del curso</label>
                                            <div class="input-group" id="datepicker2">
                                                <input type="text" class="form-control" placeholder="dd M, yyyy"
                                                       data-date-container='#datepicker2'
                                                       data-provide="datepicker"
                                                       data-date-autoclose="true"
                                                       name="fechaFin"
                                                       id="fechaFin">
                     
                                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 1rem">
                                            <div class="col-md-3">
                                                <label class="form-check-label" for="informeActividad" for="fechaFin">
                                                    Mostrar informe de actividad
                                                </label>
                                                <input class="form-check-input" type="checkbox" id="mostrarInforme"
                                                       name="informeActividad">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-check-label" for="visibleAlumno">
                                                    visible para el alumno
                                                </label>
                                                <input class="form-check-input" type="checkbox" id="visibleAlumno"
                                                       name="visibleAlumno">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-check-label" for="secciones">
                                                    Mostrar secciones ocultas
                                                </label>
                                                <input class="form-check-input" type="checkbox" id="mostrarSeccionesOcultas"
                                                       name="secciones" value="off">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-check-label" for="notificacion">
                                                    Notificar al finalizar el curso
                                                </label>
                                                <input class="form-check-input" type="checkbox" id="NotificarFinalizar"
                                                       name="notificacion">
                                            </div>
                                        </div>
                                        <div class="modal-footer" id="botonesCursos">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar
                                            </button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                     </div>
                                    {% endfor %}
                                {% endif %}
              


  