{% extends 'partials/base.html' %}
{% load static %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}
{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Curso: {{fullname}} </h4>
                <div class="table-responsive">
                    <table id="lista" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Código de docente</th>
                                <th>Nombre de Estudiantes</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in context %}
                                <tr>
                                    <td>{{item.userid}}</td>
                                    <td>{{item.userfullname}}</td>
                                    <td>
                                        <a href="{% url 'valoration_course_by_user' item.courseid item.userfullname item.userid fullname %}"
                                            class="btn btn-outline-info btn-sm">Visualizar actividades</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="text-center">
    
    <a onclick="confirmValorate({{ course }})" class="btn btn-outline-success">Valorar curso</a>
</div>

{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}

{% endblock %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'js/libs/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="https://nightly.datatables.net/buttons/js/buttons.html5.min.js"></script>

<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>

<script type="text/javascript">
    function confirmValorate(course) {
        Swal.fire({
        title: 'Proceder a guardar la notas del curso',
        text: "Esta acción no se puede revertir",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#218838',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirmar!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.replace("http://5.161.135.79:8086/asesor/courseInfo/" + course)
            Swal.fire(
                'Exito!',
                'Las notas del curso estan siendo procesadas, deberás esperar a que termine el proceso y serás redirigido.',
                'success'
            )
        }
    })
    }
    $(document).ready(function () {
        $('#curso').DataTable({
            dom: 'Bfrtip',
            buttons: []
        });
    });       
</script>
{% endblock %}
