<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li class=\"activity assign modtype_assign \" id=\"module-102\"><div><div class=\"mod-indent-outer w-100\"><div class=\"mod-indent\"></div><div><div class=\"activityinstance\"><a class=\"aalink\" onclick=\"\" href=\"http://academyec.com/moodle/mod/assign/view.php?id=102\"><img src=\"http://academyec.com/moodle/theme/image.php/enlightlite/assign/1624209472/icon\" class=\"iconlarge activityicon\" alt=\"\" role=\"presentation\" aria-hidden=\"true\" /><span class=\"instancename\">Taller  Grupal<span class=\"accesshide \" > Tarea</span></span></a></div></div></div></div></li>
</body>
</html>