{% extends 'partials/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}
    {% include 'partials/css.html' %}
{% endblock %}

{% block extra_css %}
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
{% endblock %}


{% block contents %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="button-items" style="margin-bottom: 10px">
                        <a href="{% url 'cursos_api' %}" type="button" class="btn btn-success waves-effect waves-light btn-rounded">
                            <i class="far fa-bookmark"></i>
                            Cursos
                        </a>
                    </div>

                    <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>NOMBRE CURSO</th>
                            <!-- <th>ID MODULO</th> -->
                            <th>NOMBRE MODULO</th>
                            <th>NOMBRE ACTIVIDAD</th>
                            <th>COMENTARIO</th>
                            <th>VALORACION</th>
                            <th>FEEDBACK</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in valoration %}
                            <tr>
                                <!-- <td >{{ val.id }}</td> -->
                                <td>{{ val.nombre_curso }}</td>
                                <td>{{ val.nombre_modulo }}</td>
                                <td>{{ val.nombre_actividad }}</td>
                                <td>{{ val.comentario }}</td>
                                <td>{{ val.valoracion }}</td>
                                <th><a href="#" class="btn btn-outline-success btn-md"><i class="far fa-comment-dots"></i></a></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block r_sidebar %}
    {% include 'partials/rightsidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!--SWEET-ALERT -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

    <!-- Modal View -->
    <script type="text/javascript">
        var $ = jQuery.noConflict();

        function openModal(url, idModal) {
            $(idModal).load(url, function () {
                $(this).modal('show')
            });
        }

    </script>

    <!-- message success-->
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "MÓDULO",
                    "text": "{{m}}",
                    "icon": "{{m.extra_tags}}",
                })
            </script>
        {% endfor %}
    {% endif %}

    <!-- delete -->
    <script>
        function deleteModulo(id) {
            Swal.fire({
                "title": "¿Esta seguro?",
                "text": "Esta acción no se puede revertir",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "NO",
                "confirmButtonText": "SI",
                "cancelButtonColor": "#f46a6a",
                "confirmButtonColor": "#34c38f",
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        console.log(id)
                        window.location.href = "deleteModulo/" + id
                    }
                })
        }
    </script>

{% endblock %}