# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
myvenv/
myenv/
env
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea

#VS Code settings
.vscode

#SQLite
db.sqlite3

#conf
my.cnf

#pycache
/asesor/__pycache__
/authentication/__pycache__
/components/__pycache__
/conf/__pycache__
/cursos/__pycache__
/eva/__pycache__
/layout/__pycache__
/secoed/__pycache__
/.idea
/secoed/__pycache__
/authentication/__pycache__
/asesor/migrations/__pycache__
/authentication/migrations/__pycache__
/components/migrations/__pycache__
/cursos/migrations/__pycache__
/eva/migrations/__pycache__
/layout/migrations/__pycache__
conf/migrations/__pycache__/
