{% extends 'partials/base.html' %}
{% load static %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/fullcalendar/main.css' %}" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block contents %}

<div>
    
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3>{{fullname}}</h3> <a href="{% url 'detail_schedule_events_course' courseid %}" class="btn btn-outline-warning">Eliminar eventos</a>
            </div>
        </div>
    </div>
    <div id="calendar" class="card" style="padding: 10px;"></div>
</div>




{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}

{% endblock %}
{% block javascript %}                
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
                        
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>        
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>        
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        
        <script src="{% static 'js/fullcalendar/main.js' %}"></script>
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
                
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function (){
                var calendarUI = document.getElementById('calendar')
                var calendar = new FullCalendar.Calendar(calendarUI,{
                    events: [
                            {% for calend in context %}
                                {
                                    title: '{{calend.name}}'+ ' > '+ '{{calend.description}}',
                                    start: new Date ('{{calend.timestart}}' * 1000 ),
                                    end: new Date (((parseInt('{{calend.timestart}}')) + (parseInt('{{calend.timeduration}}'))) * 1000)
                                },
                            {% endfor %}
                    ]
                })
                calendar.render()
            })
        </script>    
{% endblock %}