{% extends 'partials/base.html' %}
{% load static %}
{% load bootstrap %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block contents %}

<div>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div style="text-align: center;padding: 1em;">
            <button class="btn btn-info" type="submit">Guardar calendario academico</button>
            <a href="{% url 'periodo_academico' %}" class="btn btn-danger" type="reset">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}

{% endblock %}
{% block javascript %}                
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
                        
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>        
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>        
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>    

        <script src="{% static 'js/app.js' %}"></script>
         
        <script type="text/javascript">          
            function timeToHuman() {
                var theDate = new Date(document.u2h.timeStamp.value * 1000);
                dateString = theDate.toGMTString();
                document.u2h.result.value = dateString;
            }       
        </script>       
{% endblock %}