{% extends 'parciales/list.html' %}
{% block btn_creacion %}
    <div class="mb-2">
    <button class="rounded-circle btn btn-outline-info" new-register type="button" onclick="openModal('{% url 'eva:create-periodo' %}', 'createModal')" title="Nuevo registro: {{ entity }}" >
        <i class="fas fa-plus"></i>
    </button>
</div>
{% endblock %}
<!--Columnas de la tabla-->
{% block cols %}
    <th style="align-items: center">Nombre</th>
    <th style="align-items: center" >Carrera</th>
    <th style="align-items: center">Estado</th>
    <th style="align-items: center">Acción</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td >{{ item.name }}</td>
            <td>{{ item.carrera }} - {{ item.carrera.facultad }}</td>
            <td style="align-items: center">
                {% if item.is_active %}
                    <span style="align-items: center" class="rounded-circle btn btn-outline-success btn-sm "><i class="bx bx-check-circle" ></i></span>
                {%else %}
                    <span style="align-items: center" class="rounded-circle btn btn-outline-danger btn-sm"><i class="far fa-times-circle" ></i></span>
                {% endif %}
            </td>
            <td>
                <!--<button onclick="openBrowser('{% url 'eva:update-periodo' item.pk %}', 'openBrowser')" class="rounded-circle btn btn-outline-secondary btn-sm edit" title="Ciclos">
                    <i class="fas fa-list-alt"></i>
                </button>-->
                <a class=" rounded-circle btn btn-outline-secondary btn-sm trash " href="/eva/periodociclo/lista/?id={{ item.pk }}"><i class="fas fa-list-alt"></i></a>
                <button onclick="openModal('{% url 'eva:update-periodo' item.pk %}', 'updateModal')" class="rounded-circle btn btn-outline-secondary btn-sm edit" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button onclick="confirmDelete('{% url 'eva:delete-periodo' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                    <i class="fas fa-trash"></i>
                </button>

                {% csrf_token %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}