{% extends 'parciales/list.html' %}

{% block btn_creacion %}
    <div class="mb-2">
    <a class=" rounded-circle btn btn-outline-info fas fa-plus " href="/eva/autoevaluacion/crear/"></a>
    </div>
{% endblock %}

<!--Columnas de la tabla-->
{% block cols %}
    <th style="width: 600px">Pregunta</th>
    <th style="width: 200px">Categoria</th>
    <th style="width: 50px">Acción</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.pregunta.title }}</td>
            <td>{{ item.pregunta.category }}</td>
            <td>
                {% if not item.item %}
                    <button onclick="confirmDelete('{% url 'eva:delete-questions-auto' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                        <i class="fas fa-trash"></i>
                    </button>
                    {% csrf_token %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}