{% extends 'partials/base.html' %}
{% load static %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block contents %}
<div class="container custom">
    <form class="repeater" enctype="multipart/form-data" action="{% url 'getPDF' %}" method="POST">
        <div class="my-form course">
            <label for="name">Curso: </label>
            <input type="text" name="course" class="form-control"/>
        </div>

        <div class="my-form__main-question">
            <div class="my-form__question">
                <label for="name" class="label-question">Pregunta: </label>
                <input type="text" name="question[]" class="form-control input-question"/>
                <input data-repeater-delete type="button" class="btn btn-outline-danger button-question" value="Delete Question"/> 
            </div>

            <div class="my-form__choice">
                <input type="text" name="choice[]" class="form-control" placeholder="Pregunta 1"/>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_correct[]" value="0" id="defaultCheck1">
                    <label class="form-check-label"  for="defaultCheck1">
                      Respuesta correcta
                    </label>
                </div>
                <input type="text" name="choice[]" class="form-control" placeholder="Pregunta 2"/>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_correct[]" value="1" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Respuesta correcta
                    </label>
                </div>
                <input type="text" name="choice[]" class="form-control" placeholder="Pregunta 3"/>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_correct[]" value="2" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Respuesta correcta
                    </label>
                </div>
                <input type="text" name="choice[]" class="form-control" placeholder="Pregunta 4"/>
                <div class="form-check">
                    <input class="form-check-input" name="is_correct[]" type="checkbox" value="3" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Respuesta correcta
                    </label>
                </div>
            </div>
        </div>
        <input data-repeater-create type="button" class="btn btn-info add_button" value="Add Question"/>
        <input type="submit" class="btn btn-success submit_button" value="Submit Evaluation"/>
    </form>
</div>

<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Example</h4>
                <form class="repeater" enctype="multipart/form-data">
                    <div data-repeater-list="group-a">
                        <div data-repeater-item class="row">
                            <div  class="mb-3 col-lg-7">
                                <label for="name">Curso: </label>
                                <input type="text" id="name" name="untyped-input" class="form-control"/>
                            </div>

                            <div  class="mb-3 col-lg-2">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control"/>
                            </div>

                            <div  class="mb-3 col-lg-2">
                                <label for="subject">Subject</label>
                                <input type="text" id="subject" class="form-control"/>
                            </div>

                            <div class="mb-3 col-lg-2">
                                <label for="resume">Resume</label>
                                <input type="file" class="form-control-file" id="resume">
                            </div>

                            <div class="mb-3 col-lg-2">
                                <label for="message">Message</label>
                                <textarea id="message" class="form-control"></textarea>
                            </div>
                            
                            
                            <div class="col-lg-2 align-self-center">
                                <div class="d-grid">
                                    <input data-repeater-delete type="button" class="btn btn-primary" value="Delete"/>
                                </div>
                            </div>
                        </div>
                                        
                    </div>
                    <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Add"/>
                </form>
            </div>
        </div>
    </div>
</div>
 -->

{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

        <!-- form repeater js -->
        <script src="{% static 'libs/jquery.repeater/jquery.repeater.min.js' %}"></script>

        <script src="{% static 'js/pages/form-repeater.int.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/evaluation/evaluation.js' %}"></script>
{% endblock %}