{% extends 'partials/base.html' %}
{% load static %}
{% load bootstrap %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}

{% block contents %}

<div class="container">
    <form method="get">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {{ myFilter.form.course|bootstrap }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ myFilter.form.studentName|bootstrap }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ myFilter.form.activityName|bootstrap }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ myFilter.form.moduleName|bootstrap }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="curso" class="table table-hover dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Docente</th>
                                <th>Modulo</th>
                                <th>Actividad</th>
                                <th>Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page_obj %}
                            <tr>
                                <td>{{item.course}}</td>
                                <td>{{item.studentName}}</td>
                                <td>{{item.moduleName}}</td>
                                <td>{{item.activityName}}</td>
                                <td>{{item.scoreActivity}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<div>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 1</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;Ultima</a>
        {% endif %}
</div>
<!-- End Page-content -->
{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}

{% endblock %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}