{% extends 'parciales/list_process.html' %}
{% block cols %}
    <th>N°</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Identificación</th>
{% endblock %}
<!--Filas de la tabla-->
{% block rows %}
    {% for docente in object_list %}
        <tr>
            <td>{{ docente.id }}</td>
            <td>
                <!--GRUPO REPOSITORIO COE Y EVA-->
                {% if request.user.usuario_administrador == False %}
                <a href="{% url 'eva:create-coevaluation' %}?docente={{ docente.pk }}" >{{ docente.nombres }} {{ docente.apellidos }}</a>
                {% else %}
                    {{ docente.nombres }} {{ docente.apellidos }}
                {% endif %}
                <!--GRUPO REPOSITORIO COE Y EVA-->
            </td>
            <td>{{ docente.email }}</td>
            <td>{{ docente.identificacion }}</td>
        </tr>
    {% endfor %}
 {% endblock %}
