{% extends 'partials/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block css %}
    {% include 'partials/css.html' %}
    <script src="{% static 'js/libs/xlsx.full.min.js' %}" ></script>
    <script src="{% static 'js/libs/FileSaver.min.js' %}" ></script>
    <script src="{% static 'js/libs/tableexport.min.js' %}" ></script>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet" type="text/css"/>
{% endblock %}


{% block contents %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane" id="profile-1" role="tabpanel">
                         <div>
                             <table>
                                <tr>
                                    <td>
                                         <button class="btn btn-success" id="btnExportar" onclick="toExcel()"> Exportar a Excel</button>
                                    </td>
                                    <td colspan="7"></td>
                                </tr>
                            </table>
                         </div>
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                            <thead class="table-light">
                            <tr>
                                <th>N°</th>
                                <th>Tabla</th>
                                <th>Id Registro</th>
                                <th>Comando</th>
                                <th>Usuario Creación</th>
                                <th>Fecha Creación</th>
                                <th>Registro Anterior</th>
                                <th>Registro Nuevo</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for aud in auditoriaview %}
                                <tr>
                                    <td>{{ aud.id }}</td>
                                    <td>{{ aud.tabla }}</td>
                                    <td>{{ aud.idregistro }}</td>
                                    <td>{{ aud.comando }}</td>
                                    <td>{{ aud.usuario.username }} </td>
                                    <td>{{ aud.fechacreacion }}</td>
                                    <td>{{ aud.registroanterior }}</td>
                                    <td>{{ aud.registronuevo }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- newModal-->
    <div class="modal fade" id="newModal" role="dialog">
    </div>
    <!-- endNewModal -->

    <!-- viewModal -->
    <div class="modal fade" id="viewModal" role="dialog">
    </div>
    <!-- endViewModal -->

    <!-- editModal -->
    <div class="modal fade" id="editModal" role="dialog">
    </div>
    <!-- endEditModal -->

{% endblock %}

{% block r_sidebar %}
    {% include 'partials/rightsidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block javascript %}
    <!-- reportes -->
    <script src="{% static 'js/reports/toExcel.js' %}"></script>
    <script src="{% static 'js/reports/toPdf.js' %}"></script>
    <script src="{% static 'js/libs/jspdf.min.js' %}"></script>
    <script src="{% static 'js/libs/jspdf.plugin.autotable.min.js' %}"></script>

    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!--SWEET-ALERT -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function toExcel(){
            var $tabla = document.getElementById('datatable-buttons');
            let tableExport = new TableExport($tabla, {
                exportButtons: false, // No queremos botones
                filename: "Reporte Auditoría" + new Date().toLocaleString(), //Nombre del archivo de Excel
                sheetname: "Secoed", //Título de la hoja
            });
            let datos = tableExport.getExportData();
            let preferenciasDocumento1 = datos["datatable-buttons"];
            let preferenciasDocumento = preferenciasDocumento1.xlsx;
            tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
        };
    </script>

{% endblock %}