{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/th_contratos{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/th_contratos?action=contratos&docente={{ id }}&id={% endblock %}
{% block formaction %}/th_contratos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
    <input type='hidden' name='id' value='{{id}}'/>
{% endblock %}
{% block formback %}/th_contratos{% endblock %}
{% block buttonname %}Guardar{% endblock %}